/* Imports */
@import url("reset.css");
@charset "utf-8";

body {
	width: 100% !important;
	height: 100% !important;
	line-height: 1.5em;
	font-size:18px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	background-color: #1f1f1f;
}


.container {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: justify;
	color: #1f1f1f;
}

nav {
	width: 220px;
	height:100%;
	float: left;
	padding: 0;
	margin: 0;
	z-index: 1;
	color: #fff;
	background-color: #1f1f1f;
	overflow-x:scroll;
}

	.logo {
		padding: 15px 0 0 32px;
	}

	.mainmenu, .submenu, .submenu2, .submenu3 {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.mainmenu a {
		display: block;
		text-decoration: none;
		color: #fff;
	}

	.mainmenu a:hover {
		background-color: #454545;
	}

	.mainmenu li:hover .submenu,
	.submenu li:hover .submenu2,
	.submenu2 li:hover .submenu3 {
		display: block;
		max-height: 100%;
	}

	.submenu a{
		background-color: #6b6b6b;
		padding-left: 10px;
		font-size: .75em;
	}
	
	.submenu2 a {
		background-color: #919191;
		padding-left: 10px;
		font-size: .75em;
	}
	
	.submenu3 a {
		background-color: #000;
		color: #fff;
		padding-left: 10px;
		font-size: .75em;
	}

	.submenu a:hover {
		
	}
	
	.submenu2 a:hover {
		
	}
	
	.submenu3 a:hover {
		
	}

	.submenu, .submenu2, .submenu3 {
		overflow: hidden;
		max-height: 0;
		-webkit-transition: all 0.5s ease-out;
	}
	
	
	nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	nav li {
		font-variant: small-caps;
		font-weight: normal;		
		display: block;
		text-decoration: none;
		color: #fff;
	}

	nav hr {
		border: 1px solid #454545;
		margin: 3px;
	}

	.contactInfo {
		margin: 0;
		padding: 1em;
		display: block;
		font-size:16px;
		font-weight: normal;
		text-align: center;
		font-variant: small-caps;
	}

.rightDiv {
	height: 100%;
	width: 80%;
	float: left;
	z-index: 1;
	background-color: #fff;
}

	.inner-section {
		padding: 0 25px;
		margin: 0;
	}
	
	h1 {
		margin: auto;
		padding: 20px;
		font-size:2em;
		font-weight: bolder;
		font-variant: small-caps;
	}

