/* Imports */
@import url("reset.css");
@charset "utf-8";

/* General CSS */
body {
	width: 100% !important;
	height: 100% !important;
	line-height: 1.5em;
	font-size:18px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

.inner-section {
	padding: 0 25px;
	margin: 55px 0 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.justify,
p {
	text-align: justify;
}

.bold {
	font-weight: bold;
	color: #1f1f1f;
	font-variant: small-caps;
}

.legal-section {
			font-size:0.9em;
			color: #1f1f1f;
			font-style: italic;
		}
	
.italic {
	font-style: italic;
}

.right {
	text-align: right;
}

h1 {
	margin: auto;
	padding: 10px 0 10px 0;
	padding-left: 0px;
	font-size:1.75em;
	font-weight: bolder;
	font-variant: small-caps;
	text-align: left;
}

h2 {
	margin: auto;
	padding: 20px;
	padding-left: 0px;
	font-size:1.5em;
	font-weight: bolder;
	font-variant: small-caps;
}

h3 {
    margin: auto;
    padding: 20px;
    padding-left: 0px;
    font-size:1.25em;
    font-weight: bolder;
    font-variant: small-caps;
}

.16-9-wrapper {
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
}
 
	.16-9-wrapper > div {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		color: white;
	}

.4-3-wrapper {
	width: 100%;
	padding-bottom: 75%; /* 4:3 */
	position: relative;
	
	  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
 
	.4-3-wrapper > div {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
	}

figure {

}

img {
	max-width: 100%;
	height: auto;
}

.img-50-left {
	width: 50%;
	float: left;
	margin: 0 25px;
}

.content-section {
	width: 96%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background: #fff;
	color: #1f1f1f;
}

.back-to-top-section {
	text-align: right;
	padding: 10px;
	margin: 0;
	text-decoration: none;
	color: #444;

}

.back-to-top-section a {
	color:#454545;
	text-decoration: none;
	font-size:2em;
    font-weight: bolder;
    font-variant: small-caps;
}

.back-to-top-section a:hover {
	color: #6495ed;
}

#toc {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 10px 20px 25px 50px;
	font-size: 0.75em;
	float: left;
	margin-bottom: 20px;
}

#toc li {
	list-style-type: upper-roman;
}

.toc-description {
	float: left;
	width: 70%;
	padding: 1%;
	text-align: justify;
}

.standard-3-table {
	width: 98%;
	margin: auto;
	line-height: 1.5em;
}

.standard-3-table th {
	font-weight: bolder;
}

.standard-3-table tr {
	height: 3em;
	border-bottom: 1px solid grey;
}

.standard-3-table td {
	width: 33%;
	padding: 10px;
	text-align: center;

}

.standard-3-table td:nth-child(even) {
	width: 34%;
	padding: 10px;
	background-color: #dddddd;
}

.standard-4-table {
	width: 98%;
	margin: auto;
	line-height: 1.5em;
}

.standard-4-table th {
	font-weight: bolder;
}

.standard-4-table tr {
	height: 3em;
	border-bottom: 1px solid grey;
}

.standard-4-table td:nth-child(odd) {
	width: 10%;
	padding: 10px;
	text-align: center;
	background-color: #dddddd;
}

.standard-4-table td:nth-child(even) {
	width: 40%;
	padding: 10px;
	text-align: justify;
}

/* /General CSS */

/* About the ICRKB */
	.legend {
		width: 98%;
		margin: auto;
		line-height: 1.5em;
		text-align: justify;
	}
	
	.legend th {
		font-size: 1.25em;
		font-weight: 900;
		line-height: 2em;
	}

	.legend tr {
		height: 3em;
		border-bottom: 1px solid grey;
		padding: 10px;
	}
	
	.legend tr:last-child {
		border-bottom: none;
	}
	
	.legend tr:nth-child(even) {
		background-color: #b7b7b7;
	}
	
	.legend tr td {
		padding: 10px 25px;
	}
	
	.legend tr th:first-child,
	.legend tr td:first-child {
		width: 25%;
		text-align: center;
		font-size: 1.5em;
		padding-top: 12px;
	}

/* PRODUCT SECTION */	
	.indent1 {
		padding-left: 30px;
	}

	.docs, .specs, .images, .software {
		text-align: right;
	}

	.spec_table {
		border: 1px solid #1f1f1f;
		margin: auto;
	}

	.padded_break{
		padding: 15px;
	}
	
	.jpg_product{
		border:dashed 1px grey;
		text-align: center;
		margin: auto;
		width: 40%;
		margin-bottom: 10px;
		float: left;
	}
/* /PRODUCT SECTION */


/* SOFTWARE SECTION */
	
	.software-image {
		float: left;
		max-width: 29%;
		margin: 3% 1%;
	}
	
	.software-description {
		padding: 0;
		margin: 1%;
		float: left;
		max-width: 66%;
		list-style-type:disc
	}
	
	.software-description ul {
		list-style-type:disc;
		margin: 1em 0 1em 25px; 
	}
	
	.software-wrapper {
		padding: 0;
		margin: 0;
		list-style: none;

		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}
	
	.download-wrapper {
		width: 100%;
	}
	
	.download-wrapper th {
		border-bottom: 1px solid #1f1f1f;
	}
	
	.download-wrapper tr:nth-child(even) {
		background-color: #b7b7b7;
	}
	
	.download-wrapper td:nth-child(odd) {
		width: 10%;
		text-align: center;
	}
	
	.colored {
		color: #6495ed; /* Cornflower Blue */
	}

	.related-wrapper-item {
		padding: 10px;
		width: 48%;
		height: auto;
	}

/* /SOFTWARE SECTION */


/* DOC WRAP SECTION */
.doc-wrap {
	position: absolute;
	top: 54px;
	bottom: 0;
	left: 0;
	right: 18px;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

.doc-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* CAL WRAP SECTION */

/* PASSWORD SECTION */
.password-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.password-item {
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
/* /PASSWORD SECTION */

.dealer-tools-halves-wrapper {
	width: 100%;
	height: 100%;
	margin: 10px;
	padding: 10px 10px 0;
}

.dealer-partners-halves {
	background-color: #1f1f1f;
	color: white;
	border: double 3px white;
	border-radius: .5em;
	box-shadow: 0px 4px 8px #888888;
	display: block;
	float: left;
	margin: 1%;
	padding: 0 0 10px;
	width: 45%;
	text-align: center;
	line-height:1.5;
	border-radius: .5em;
	min-height: 400px;
}

	div.stretchy-wrapper-square {
		width: 100%;
		margin: 0 0 10px;
		padding: 0;
		padding-bottom: 56.25%; /* 16:9 */
		position: relative;
		background-size: contain;
		overflow: hidden;
		background-color: white;
	}

	div.stretchy-wrapper-square > div.axis-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/axis-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.axis-partner::after {
		content: 'Axis Communication - Axis is the market leader in network video and a driving force behind the shift from analog to digital video surveillance, which paves the way for a more secure, smarter and safer world. Axis offers network video solutions for professional installations featuring products and solutions that are based on innovative and open technical platforms.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		vertical-align: center;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.axis-partner:hover:after {
		opacity:1;
	}
	
	div.stretchy-wrapper-square > div.control4-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/control4-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.control4-partner::after {
		content: 'Control4, a leading provider of the operating system for the smart home, delivers intelligent control over consumer electronics products, appliances and networking systems through an easy-to-use and intuitive software interface. Founded in 2003, the company delivers affordable automation of lighting, music, video, thermostat, security, and energy management systems. With the most intelligent, open and affordable control solution on the market, Control4 is the platform of choice for an intelligent, open and affordable control solution.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		vertical-align: center;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.control4-partner:hover:after {
		opacity:1;
	}		


div.stretchy-wrapper-square > div.crestron-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/crestron-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.crestron-partner::after {
		content: 'With over 40 years in business and 90+ offices worldwide, Crestron Electronics is the leading provider of control and automation systems for homes, offices, schools, hospitals, hotels and more. Crestron solutions are Integrated by Design™ to provide the ultimate technology lifestyle. No matter where you are, or what you do, with Crestron you are always connected.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		vertical-align: center;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.crestron-partner:hover:after {
		opacity:1;
	}

div.stretchy-wrapper-square > div.d-tools-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/d-tools-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.d-tools-partner::after {
		content: 'A leader in system design software D-Tools has forged relationships with key Custom Electronics manufacturers such as IC Realtime, Crestron, Middle Atlantic, Sony, GE Security, Lutron, Runco, SpeakerCraft and many others to provide product data for D-Tools database. In addition, the company has established technology relationships with Autodesk, Microsoft, and Brother International.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		vertical-align: center;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.d-tools-partner:hover:after {
		opacity:1;
	}
	
	div.stretchy-wrapper-square > div.elan-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/elan-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.elan-partner::after {
		content: 'Headquartered in Petaluma, California, ELAN Home Systems has designed innovative, award-winning multi-room audio/video and home control systems since 1989. ELAN systems were the first to seamlessly combine music, TV and telephone-based features such as intercom and paging to create a new kind of whole-house entertainment and communications experience. These systems allowed people to move room-to-room, controlling and accessing centrally located audio and video equipment with ease.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		vertical-align: center;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.elan-partner:hover:after {
		opacity:1;
	}
	
	div.stretchy-wrapper-square > div.xfc-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/xfc-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.xfc-partner::after {
		content: 'The XFC (Xtreme Fighting Championships) is a premier International MMA organization based out of Tampa, Florida with offices in New York, Spring Lake, Ft. Lauderdale, Sao Paulo, & Buenos Aires. The XFC is known for entertaining fans with some of the most action packed MMA events on television! Showcasing both Male & Female fighters, the XFC boasts finding and building the names of the next generation of MMA fighters.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		vertical-align: center;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.xfc-partner:hover:after {
		opacity:1;
	}

div.stretchy-wrapper-square > div.keydigital-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/keydigital-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.keydigital-partner::after {
		content: 'Key Digital led by digital video pioneer Mike Tsinberg, develops and manufactures high quality, cutting-edge technology solutions for virtually all applications where high quality video imaging is important. Our products are used by professional broadcasters, corporations, custom installers, home theater retailers, and consumers. The next time you are planning out your video and audio installation, come to Key Digital. At Key Digital, we are at the forefront of technology with the innovative features and solutions you have been looking for.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		vertical-align: center;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.keydigital-partner:hover:after {
		opacity:1;
	}

div.stretchy-wrapper-square > div.rti-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/rti-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.rti-partner::after {
		content: 'Remote Technologies Incorporated is a tech driven company that specializes in developing and marketing innovative home theater control products. A private company; we are best known for pioneering the development of affordable, customizable, wireless remote controls that incorporate touchscreens. These award-winning products have been branded and marketed by domestic and international partner companies, dealers and distributors. Most recently though, we have unveiled a complete home control system sold under our own RTI name.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		vertical-align: center;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.rti-partner:hover:after {
		opacity:1;
	}
	
div.stretchy-wrapper-square > div.savant-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/savant-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.savant-partner::after {
		content: 'Savant Systems, LLC designs, develops and manufactures a complete suite of integrated solutions that has defined the modern age of home and commercial automation. Savants Apple-based platform cohesively addresses control, audio/video, telephony, digital display, energy management and the media integration needs of todays most advanced environments. Through its relationship with Apple, Savant has leveraged the familiarity and intuitive nature of the iPad and iOS family of devices to address the control and automation needs of todays consumers.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.savant-partner:hover:after {
		opacity:1;
	}
	
	div.stretchy-wrapper-square > div.vantage-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/vantage-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.vantage-partner::after {
		content: 'Vantage Controls is a leader in the luxury home automation and lighting control industry with experience in whole-home, hospitality and marine lighting control for 25 years.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
		padding: 0;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.vantage-partner:hover:after {
		opacity:1;
	}
	
div.stretchy-wrapper-square > div.urc-partner {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: 0;
		padding: 0;
		background: white url(http://icrealtime.com/design/images/media/urc-partner.jpg) no-repeat center center;
		background-size: contain;
	}
	
	.urc-partner::after {
		content: 'For more than 20 years, URC has been setting the higher standard for control technology with continuous research and development. Headquartered in Harrison, N.Y., the company has been the leading supplier of high quality remotes and is broadly regarded as the leading control manufacturer by consumers, subscription broadcast providers, retailers, custom installation professionals and OEM partners.';
		color: black;
		text-align: justify;
		line-height:1.5;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
		padding: 1%;
		position:absolute;
		width:97%; height:97%;
		top:1%; left:1%;
		background:rgba(255,255,255,0.95);
		opacity:0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	.urc-partner:hover:after {
		opacity:1;
	}



#partners .dealer-partners-halves h3,
#partners .dealer-partners-halves h3 span {
	text-align: center;
	margin: 0 auto 10px;
	padding: 5px 0 0;
	color: #0097fe;
	font-size: 2em;
}

#partners .dealer-partners-halves p {
	text-align: justify;
	line-height:1.5;
	margin: 10px;
	padding: 10px;
	font-size: .85em;
}