/* Imports */
@import url("reset.css");
@charset "utf-8";

/* General CSS */

body {
	width: 100% !important;
	height: 100% !important;
	line-height: 1.5em;
	font-size:18px;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

h1 {
	margin: auto;
	padding: 20px;
	font-size:2em;
	font-weight: bolder;
	font-variant: small-caps;
}

.whitepaper-section {
	width: 80%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #1f1f1f;
}