/* Imports */
@import url("reset.css");
@charset "utf-8";

/* General CSS */
body {
	width: 100% !important;
	height: 100% !important;
	line-height: 1.5em;
	font-size:18px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

.inner-section {
	padding: 0 25px;
	margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.justify {
	text-align: justify;
}
h1 {
	margin: auto;
	padding: 20px;
	padding-left: 0px;
	font-size:2em;
	font-weight: bolder;
	font-variant: small-caps;
	text-align: left;
}

h2 {
	margin: auto;
	padding: 20px;
	padding-left: 0px;
	font-size:1.5em;
	font-weight: bolder;
	font-variant: small-caps;
}

h3 {
    margin: auto;
    padding: 20px;
    padding-left: 0px;
    font-size:1.25em;
    font-weight: bolder;
    font-variant: small-caps;
}

img {
    max-width: 100%;
    height: auto;
}

.content-section {
	width: 90%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #1f1f1f;
}

/* /General CSS */

/* PRODUCT SECTION */	
	.indent1 {
		padding-left: 30px;
	}

	.docs, .specs, .images, .software {
		text-align: right;
	}

	.spec_table {
		border: 1px solid #1f1f1f;
		margin: auto;
	}

	.padded_break{
		padding: 15px;
	}
	
	.jpg_product{
		border:dashed 1px grey;
		text-align: center;
		margin: auto;
		width: 40%;
		margin-bottom: 10px;
		float: left;
	}
/* /PRODUCT SECTION */


/* WHITEPAPER SECTION */

/* /WHITEPAPER SECTION */

/* PASSWORD SECTION */
.password-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.password-item {
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
/* /PASSWORD SECTION */