/* Imports */
@import url("reset.css");
@charset "utf-8";

body {
	width: 100% !important;
	height: 100% !important;
	line-height: 1.5em;
	font-size:18px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	background-color: #1f1f1f;
}

.container {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: justify;
	color: #1f1f1f;
}

a {
	text-decoration: none;
	cursor: pointer;
}

nav {
	width: 248px;
	height:100%;
	float: left;
	padding: 0 10px;
	margin: 0;
	z-index: 1;
	color: #fff;
	background-color: #1f1f1f;
	overflow-x:scroll;
}

	.logo {
		padding: 15px 0 0 48px;
	}

	nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	nav li {
		font-variant: small-caps;
		font-weight: normal;		
		display: block;
		text-decoration: none;
		color: #fff;
	}

	nav hr {
		border: 1px solid #454545;
		margin: 3px;
	}

	/* Checkbox Hack */

	input[type=checkbox] {
	   position: absolute;
	   top: -9999px;
	   left: -9999px;
	}
	label { 
		cursor: pointer;
		font-variant: small-caps;
		font-weight: normal;		
		display: block;
		text-decoration: none;
		color: #fff
		background-color: #1f1f1f;
	}

	/* Default State */
	div.lvl-1-div,
	div.lvl-2-div,
	div.lvl-3-div,
	div.lvl-4-div,
	div.lvl-5-div {
		display: none;
	}

	/* Toggled State */
	.lvl-1-input[type=checkbox]:checked ~ div.lvl-1-div {
		display: block;
		padding-left: 5px;
		background-color: #393939;
	}
	
	.lvl-2-input[type=checkbox]:checked ~ div.lvl-2-div {
		display: block;
		padding-left: 5px;
		background-color: #454545;	
	}
	
	.lvl-3-input[type=checkbox]:checked ~ div.lvl-3-div {
	   display: block;
	   padding-left: 5px;
	   background-color: #6b6b6b;
	}
	
	.lvl-4-input[type=checkbox]:checked ~ div.lvl-4-div {
	   display: block;
	   padding-left: 5px;
	   background-color: #919191;
	}
	
	.lvl-5-input[type=checkbox]:checked ~ div.lvl-5-div {
	   display: block;
	   padding-left: 5px;
	   background-color: #b7b7b7;
	}

	.contactInfo {
		margin: 0;
		padding: 1em;
		display: block;
		font-size:16px;
		font-weight: normal;
		text-align: center;
		font-variant: small-caps;
	}

	.supportHelper {
		display: block;
		font-weight: normal;
		font-variant: small-caps;
}

.rightDiv {
	height: 100%;
	width: 80%;
	float: left;
	z-index: 1;
	background-color: #fff;
}

	.inner-section {
		padding: 0 25px;
		margin: 0;
	}
	
	h1 {
		margin: auto;
		padding: 20px;
		font-size:2em;
		font-weight: bolder;
		font-variant: small-caps;
	}
	
	#mainFrame {
		
	}
	
	.frameclass {
		width: 100% !important;
		height: 100% !important;
		min-height: 500px;
	}

