/* Imports */
@import url("reset.css");
@charset "utf-8";

/* General CSS */
body {
	width: 100% !important;
	height: 100% !important;
	line-height: 1.5em;
	font-size:18px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

.container {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #1f1f1f;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.16-9-wrapper {
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
}
 
	.16-9-wrapper > div {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		color: white;
	}

.4-3-wrapper {
	width: 100%;
	padding-bottom: 75%; /* 4:3 */
	position: relative;
}
 
	.4-3-wrapper > div {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
	}

figure {

}

img {
	max-width: 100%;
	height: auto;
}

.frameWrapper {
	width: 100%;
	height: 80%;
}
.frameWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* General CSS */

/* NAVIGATION SECTION - left side */
nav {
	width: 20%;
	height:100%;
	float: left;
	padding: 0 10px;
	margin: 0;
	z-index: 1;
	color: #fff;
	background-color: #1f1f1f;
	overflow-y:scroll;

}

	.logo {
		width: 98%;
		max-width: 150px;
		margin: auto;
		padding: 5px 1%;
	}

	nav hr {
		border: 1px solid #454545;
		margin: 3px;
	}
	
	nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	nav li {
		font-variant: small-caps;
		font-weight: normal;		
		display: block;
		text-decoration: none;
		color: #fff;
	}
	
	nav li:hover {
		background: #454545;
	}
	
	nav .lvl-1-menu li:hover {
		background: #454545;
	}

	nav .lvl-2-menu li:hover {
		background: #6b6b6b;
	}
	
	nav .lvl-3-menu li:hover {
		background: #919191;
	}
	
	nav .lvl-4-menu li:hover {
		background: #b7b7b7;
	}
	
	nav .lvl-5-menu li:hover {
		background: #393939;
	}
	
	/* Checkbox Hack */
		input[type=checkbox] {
		   position: absolute;
		   top: -9999px;
		   left: -9999px;
		}
		label { 
			cursor: pointer;
			font-variant: small-caps;
			font-weight: normal;		
			display: block;
			text-decoration: none;
			color: #fff
			background-color: #1f1f1f;
		}

		/* Default State */
			div.lvl-1-div,
			div.lvl-2-div,
			div.lvl-3-div,
			div.lvl-4-div,
			div.lvl-5-div {
				display: none;
			}
		/* /Default State */
		
		/* Toggled State */
			.lvl-1-input[type=checkbox]:checked ~ div.lvl-1-div {
				display: block;
				padding-left: 5px;
				background-color: #393939;
			}
			
			.lvl-2-input[type=checkbox]:checked ~ div.lvl-2-div {
				display: block;
				padding-left: 5px;
				background-color: #454545;	
			}
			
			.lvl-3-input[type=checkbox]:checked ~ div.lvl-3-div {
			   display: block;
			   padding-left: 5px;
			   background-color: #6b6b6b;
			}
			
			.lvl-4-input[type=checkbox]:checked ~ div.lvl-4-div {
			   display: block;
			   padding-left: 5px;
			   background-color: #919191;
			}
			
			.lvl-5-input[type=checkbox]:checked ~ div.lvl-5-div {
			   display: block;
			   padding-left: 5px;
			   background-color: #b7b7b7;
			}
		/* /Toggled State */
	/* /checkbox hack */
	
	.contactInfo {
		width: 100%;
		display: block;
		font-size:16px;
		font-weight: normal;
		text-align: center;
		font-variant: small-caps;
	}
	
/* /NAVIGATION SECTION - left side */

/* MAIN SECTION - right side */
.rightDiv {
	width: 80% !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

	.inner-section {
		padding: 0 25px;
		margin: 0;
	}
	
	h1 {
		padding: 20px;
		font-size:2em;
		font-weight: bolder;
		font-variant: small-caps;
	}

	.footnote {
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 1em;
		font-weight: bolder;
		font-style: italic;
		font-variant: small-caps;
		
	}
/* /MAIN SECTION - right side */


/* CLEAN UP & MAINTAINANCE */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
