/* Imports */
@import url("reset.css");
@charset "utf-8";

body {
	width: 100% !important;
	height: 100% !important;
	line-height: 1.5em;
	font-size:18px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	background-color: #fff;
}


.container {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: justify;
	color: #1f1f1f;
}

.leftDiv {
	width: 220px;
	height:100%;
	float: left;
	padding: 0;
	margin: 0;
	z-index: 10;
	color: #fff;
	background-color: #1f1f1f;
	background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	overflow-x:scroll;
}

	.logo {
		padding: 15px 0 0 32px;
	}

	.leftDiv ul {
		padding: 0;
		margin: 0;
		background-color: #121212;
	}

	.leftDiv li {
		list-style:none;
		font-variant: small-caps;
		padding: .5em;
		font-size:16px;
		font-weight: normal;
		display: block;
		background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		border-top: 1px solid #2c2c2c;
		border-bottom: 1px solid #121212;
		text-align: center;
	}

		.leftDiv li:hover{
			background-color: #2c2c2c;
		}
	
	.leftDiv li.helpItems {
		background-color: #be1238;
		padding: 0.25em;
		border-top: 1px solid #690500;
		border-bottom: 1px solid #540400;
	}
	
		.leftDiv li.helpItems:hover{
			background-color: #540400;
		}

	.leftDiv li.subTitle {
		background-color: #0097fe;
		padding: 0.25em;
		border-top: 1px solid #00acfe;
		border-bottom: 1px solid #0082fe;
	}

	.leftDiv hr {
		border: 1px solid #454545;
		margin: 3px;
	}

	.contactInfo {
		margin: 0;
		padding: 1em;
		display: block;
		font-size:16px;
		font-weight: normal;
		text-align: center;
		font-variant: small-caps;
		background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		border-top: 1px solid #2c2c2c;
		border-bottom: 1px solid #121212;
	}

.productDiv {
	height: 100%;
	width: 80%;
	float: left;
	z-index: 1;
	background-color: #fff;
}

	.inner-section {
		padding: 0 25px;
		margin: 0;
	}
	
		.indent1 {
			padding-left: 30px;
		}
		
	
	h1 {
		margin: auto;
		padding: 20px;
		padding-left: 0px;
		font-size:2em;
		font-weight: bolder;
		font-variant: small-caps;
	}
	
	h2 {
		margin: auto;
		padding: 20px;
		padding-left: 0px;
		font-size:1.5em;
		font-weight: bolder;
		font-variant: small-caps;
	}

.docs, .specs, .images, .software {
	text-align: right;
}

.spec_table {
	border: 1px solid #1f1f1f;
	margin: auto;
}

.padded_break{
	padding: 15px;
}
